@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins&display=swap");

* {
  font-family: "Poppins";
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes {
    margin-right: 0.5em;
}

.btn {
    border-width: medium;
}

#logoAP {
    width: 150px;
}

img {
    width: 3rem;
    padding-right: 0.4rem;

    
}

img:hover {
    transform: scale(1.1)
}


/* ------ RESPONSIVE --------*/

@media (max-widht: 575px){
    .container {
        flex-direction: column;
    
    }
    
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .redes img {
        margin: 0.25em;
    }
}

