@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins&display=swap');

*{
    font-family: "Poppins";
    
}
.row {
    background-color: rgb(25, 57, 104);
    
}

p{
    padding-top: 10px;
}
footer {
    color: #fefefe;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999;
}


