<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudio</h1> - 
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut recusandae 
                nemo quam voluptate ipsum unde, veritatis tenetur pariatur dolores nobis. 
                Suscipit veritatis, beatae expedita obcaecati nobis aspernatur quisquam commodi in.</p>
            
            <li>
                <h1>Estudio</h1> - 
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut recusandae 
            nemo quam voluptate ipsum unde, veritatis tenetur pariatur dolores nobis. 
            Suscipit veritatis, beatae expedita obcaecati nobis aspernatur quisquam commodi in.</p>
            
            <li>
                <h1>Estudio</h1> - 
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut recusandae 
                nemo quam voluptate ipsum unde, veritatis tenetur pariatur dolores nobis. 
                Suscipit veritatis, beatae expedita obcaecati nobis aspernatur quisquam commodi in.</p>
            
        
        </ul>

    </div>

</div>

