@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins&display=swap");

* {
  font-family: "Poppins";
}

.row {
    padding: 20px;
    background-color: rgb(128, 165, 207);

}

h1 {
    font-weight: bolder;
}

.contenedor{
    width: auto;
    overflow: scroll

}

.card{
    margin: 1rem;
}

.parte1, parte2 {
    display: inline-block;
    text-align: justify;

}

.img-proyecto {
    box-shadow: 10px 10px 30px black;

}


/* ------ RESPONSIVE --------*/

@media (max-widht: 575px){
    .container {
        flex-direction: column;
    
    }}





