<div class="row" style="overflow-y:visible;overflow-x:hidden;">
    <h1>Proyectos realizados</h1>

<!-- Carousel wrapper -->
<div
  id="carouselMultiItemExample"
  class="carousel slide carousel-dark text-center"
  data-mdb-ride="carousel"
>
  <!-- Controls -->
  <div class="container">
  
  <!-- Inner -->
  <div class="carousel-inner py-4">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="container">
        <div class="row">

          <div class="col-lg-5 d-block 25">
            <div class="card">
              <img
                src="../../../assets/museo-vac1.png"
                class="card-img-top"
                alt="Museo VAC"
              />
              <div class="card-body">
                <h5 class="card-title">Museo VAC - Octubre 2022</h5>
                <p class="card-text">
                Proyecto final grupal del curso Codo a Codo construído con HTML, CSS, JavaScript y Bootstrap.
                </p>
                <a href="https://github.com/VeroBarrionuevo/TPO-codoAcodo" class="btn btn-primary">Ir al sitio</a>
              </div>
            </div>
          </div>

          <div class="col-lg-5 d-block 25">
            <div class="card">
              <img
                src="../../../assets/portfolio.PNG"
                class="card-img-top"
                alt="CV Web"
              />
              <div class="card-body">
                <h5 class="card-title">CV Web - Febrero 2023</h5>
                <p class="card-text">
                    Proyecto final de desarrollo frontend, construído con HTML, CSS, 
                    JavaScript y Bootstrap.
                </p>
                <a href="https://verobarrionuevo.github.io/CV-Web---Ticmas/#sobremi" class="btn btn-primary">Ir al sitio</a>
              </div>
            </div>
          </div>

          <div class="col-lg-5 d-block 25">
            <div class="card">
              <img
                src="../../../assets/rickandmorty.PNG"
                class="card-img-top"
                alt="rickandmorty"
              />
              <div class="card-body">
                <h5 class="card-title">Rick and Morty - Diciembre 2022</h5>
                <p class="card-text">
                    Proyecto realizado con React para el 
                    frontend, Axios para consumir una API de terceros y firebase para autenticar.
                </p>
                <a href="https://github.com/VeroBarrionuevo/rickandmorty" class="btn btn-primary">Ir al sitio</a>
              </div>
            </div>
          </div>

          <div class="col-lg-5 d-block 25">
            <div class="card">
              <img
                src="../../../assets/cvweb1.png"
                class="card-img-top"
                alt="argprog"
              />
              <div class="card-body">
                <h5 class="card-title">CV WEB - Marzo 2023</h5>
                <p class="card-text">
                    Proyecto final de Argentina Programa. Backend implementado en Java, 
                    Frontend implementado en Angular y desplegado en firebase.
                </p>
                <a href="https://github.com/VeroBarrionuevo/portafolio-FrontEnd" class="btn btn-primary">Ir al sitio</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

       
  </div>
  <!-- Inner -->
</div></div>
<!-- Carousel wrapper -->

</div>